:root {
    --border: 1px solid rgb(200, 200, 200);
    --bg-gray: rgb(253, 253, 253);

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--bg-gray);
    
}

.painel {
    height: 590px;
    overflow: auto;
    border: var(--border);
    border-radius: 6px;
    top: 0;
    z-index: 1;
    position: sticky;
    margin: 5px;
    background-color: rgba(250, 250, 250, 0.3);
    padding: 0.3rem;
}

span{
    border-radius: 50px;
    cursor: pointer;

}

.container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
    box-sizing: border-box;
    background-color: transparent;
}

.box {
    width: 300px;
    height: 300px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px;
}

input[type=number] {
    text-align: center;
    width: 50px;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(253, 253, 253, 0.5);
}

input[type=color] {
    width: 15px;
    height: 15px;
    margin: 0px;
    border: none;
    background-color: transparent;
}

::-webkit-color-swatch-wrapper{
    background-color: transparent;
    padding: 0px;
}

::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

select {
    border: none;
    background-color: rgb(240, 240, 240);
}

.open-viewcode{
    max-width: 300px;
    max-height: 250px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 5px;
    background-color: rgb(230,230,230, 0.3);
    overflow: auto;
    color: black;
}

.open-viewcode::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.open-viewcode::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgba(50,50,50,0.3);
}