@charset "UTF-8";
body {
  background-color: #faf9fd;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  justify-content: column;
  position: relative;
}
.main-container span {
  border-radius: 50px;
  cursor: pointer;
}

input {
  outline: none;
}

.panel {
  width: 350px;
  overflow: auto;
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 0.2);
}
.panel .panel-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
}
.panel input[type=number] {
  text-align: center;
  width: 50px;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgba(253, 253, 253, 0.5);
}
.panel input[type=range] {
  height: 5px;
  background-color: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
.panel input[type=color] {
  width: 22px;
  height: 20px;
  margin: 0px;
  border: none;
  background-color: transparent;
}
.panel input[type=color]::-webkit-color-swatch-wrapper {
  background-color: transparent;
  padding: 0px;
}
.panel input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.panel-field {
  margin-bottom: 1rem;
}
.panel-field > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.panel-field .panel-field-title {
  background-color: #eef7f3;
}
.panel-field .panel-field-title::after {
  content: "▴";
}
.panel-field input[type=radio] {
  display: none;
}
.panel-field input[type=radio]:checked ~ .panel-field-title {
  background-color: #dcefe6;
}
.panel-field input[type=radio]:checked ~ .panel-field-title::after {
  content: "▾";
}
.panel-field .panel-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #efeef7;
  padding: 0.5rem;
}
.panel-field .panel-group label {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0.3rem 0.5rem;
}
.panel-field .panel-group label input {
  margin-left: 0.5rem;
}
.panel-field .panel-group label span {
  margin-left: 0.1rem;
  text-transform: lowercase;
}

.open-panel-group {
  display: block !important;
}

.close-panel-group {
  display: none !important;
}

select {
  border: none;
  background-color: rgb(240, 240, 240);
}

.open-viewcode {
  max-width: 300px;
  max-height: 250px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 5px;
  background-color: #efeef7;
  color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  background-color: transparent;
  padding: 1rem;
}
.container .box {
  width: 300px;
  height: 300px;
  padding: 2px;
  box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 0.2);
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */