* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f2e6ff !important;
}

.main-container .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(200, 200, 200, 0.3);
          box-shadow: 0px 0px 10px 3px rgba(200, 200, 200, 0.3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .boxes div {
  width: 150px;
  height: 200px;
  border-radius: 2px;
}

.main-container .boxes p {
  padding: 0rem;
  margin: .3rem 0 0 0;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  font-size: .9rem;
}

.main-container .boxes p::before {
  content: "";
  padding: 0rem .5rem;
  border-radius: 2px;
  margin-right: 10px;
}

.bg-gradient1 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#db2044), to(#e233b8));
  background-image: linear-gradient(to top right, #db2044, #e233b8);
}

.bg-gradient1 ~ p::before {
  background-color: #db2044;
}

.bg-gradient1 ~ p ~ p::before {
  background-color: #e233b8;
}

.bg-gradient2 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3fff7c), to(#3ffbe0));
  background-image: linear-gradient(to top right, #3fff7c, #3ffbe0);
}

.bg-gradient2 ~ p::before {
  background-color: #3fff7c;
}

.bg-gradient2 ~ p ~ p::before {
  background-color: #3ffbe0;
}

.bg-gradient3 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#6b2cf5), to(#d450e6));
  background-image: linear-gradient(to top right, #6b2cf5, #d450e6);
}

.bg-gradient3 ~ p::before {
  background-color: #6b2cf5;
}

.bg-gradient3 ~ p ~ p::before {
  background-color: #d450e6;
}

.bg-gradient4 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2f80ff), to(#3ccbff));
  background-image: linear-gradient(to top right, #2f80ff, #3ccbff);
}

.bg-gradient4 ~ p::before {
  background-color: #2f80ff;
}

.bg-gradient4 ~ p ~ p::before {
  background-color: #3ccbff;
}

.bg-gradient5 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff4ba7), to(#ffda64));
  background-image: linear-gradient(to top right, #ff4ba7, #ffda64);
}

.bg-gradient5 ~ p::before {
  background-color: #ff4ba7;
}

.bg-gradient5 ~ p ~ p::before {
  background-color: #ffda64;
}

.bg-gradient6 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#a1ffd9), to(#f3ff77));
  background-image: linear-gradient(to top right, #a1ffd9, #f3ff77);
}

.bg-gradient6 ~ p::before {
  background-color: #a1ffd9;
}

.bg-gradient6 ~ p ~ p::before {
  background-color: #f3ff77;
}

.bg-gradient7 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#6f085a), to(#c51c53));
  background-image: linear-gradient(to top right, #6f085a, #c51c53);
}

.bg-gradient7 ~ p::before {
  background-color: #6f085a;
}

.bg-gradient7 ~ p ~ p::before {
  background-color: #c51c53;
}

.bg-gradient8 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#fe3d6c), to(#fc9995));
  background-image: linear-gradient(to top right, #fe3d6c, #fc9995);
}

.bg-gradient8 ~ p::before {
  background-color: #fe3d6c;
}

.bg-gradient8 ~ p ~ p::before {
  background-color: #fc9995;
}

.bg-gradient9 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#78DFF2), to(#f2b5d4));
  background-image: linear-gradient(to top right, #78DFF2, #f2b5d4);
}

.bg-gradient9 ~ p::before {
  background-color: #78DFF2;
}

.bg-gradient9 ~ p ~ p::before {
  background-color: #f2b5d4;
}

.bg-gradient10 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#12c2e9), to(#f6af59));
  background-image: linear-gradient(to top right, #12c2e9, #f6af59);
}

.bg-gradient10 ~ p::before {
  background-color: #12c2e9;
}

.bg-gradient10 ~ p ~ p::before {
  background-color: #f6af59;
}

.bg-gradient11 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#007991), to(#68dac7));
  background-image: linear-gradient(to top right, #007991, #68dac7);
}

.bg-gradient11 ~ p::before {
  background-color: #007991;
}

.bg-gradient11 ~ p ~ p::before {
  background-color: #68dac7;
}

.bg-gradient12 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#d96113), to(#fed046));
  background-image: linear-gradient(to top right, #d96113, #fed046);
}

.bg-gradient12 ~ p::before {
  background-color: #d96113;
}

.bg-gradient12 ~ p ~ p::before {
  background-color: #fed046;
}

.bg-gradient13 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#0099FF), to(#FF9933));
  background-image: linear-gradient(to top right, #0099FF, #FF9933);
}

.bg-gradient13 ~ p::before {
  background-color: #0099FF;
}

.bg-gradient13 ~ p ~ p::before {
  background-color: #FF9933;
}

.bg-gradient14 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#33CCCC), to(#FF5050));
  background-image: linear-gradient(to top right, #33CCCC, #FF5050);
}

.bg-gradient14 ~ p::before {
  background-color: #33CCCC;
}

.bg-gradient14 ~ p ~ p::before {
  background-color: #FF5050;
}

.bg-gradient15 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#00FF99), to(#FF3399));
  background-image: linear-gradient(to top right, #00FF99, #FF3399);
}

.bg-gradient15 ~ p::before {
  background-color: #00FF99;
}

.bg-gradient15 ~ p ~ p::before {
  background-color: #FF3399;
}

.bg-gradient16 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#33CC33), to(#FF00FF));
  background-image: linear-gradient(to top right, #33CC33, #FF00FF);
}

.bg-gradient16 ~ p::before {
  background-color: #33CC33;
}

.bg-gradient16 ~ p ~ p::before {
  background-color: #FF00FF;
}

.bg-gradient17 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#99FF33), to(#9966FF));
  background-image: linear-gradient(to top right, #99FF33, #9966FF);
}

.bg-gradient17 ~ p::before {
  background-color: #99FF33;
}

.bg-gradient17 ~ p ~ p::before {
  background-color: #9966FF;
}

.bg-gradient18 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FFFF00), to(#3366FF));
  background-image: linear-gradient(to top right, #FFFF00, #3366FF);
}

.bg-gradient18 ~ p::before {
  background-color: #FFFF00;
}

.bg-gradient18 ~ p ~ p::before {
  background-color: #3366FF;
}

.bg-gradient19 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#003c7f), to(#ffeda1));
  background-image: linear-gradient(to top right, #003c7f, #ffeda1);
}

.bg-gradient19 ~ p::before {
  background-color: #003c7f;
}

.bg-gradient19 ~ p ~ p::before {
  background-color: #ffeda1;
}

.box-number-spinner {
  background-color: #000d0f !important;
  font-family: "Poppins", sans-serif;
}

.box-number-spinner h3 {
  color: #00deff;
  margin-top: 1rem;
}

.container {
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid rgba(25, 255, 255, 0.2);
}

.container:hover {
  width: 120px;
  border: 2px solid white;
}

.container:hover .next {
  opacity: 1;
  right: 20px;
}

.container:hover .prev {
  opacity: 1;
  left: 20px;
}

.container .next {
  position: absolute;
  top: 50%;
  right: 50px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .prev {
  position: absolute;
  top: 50%;
  left: 50px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(315deg);
          transform: translateY(-50%) rotate(315deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#box span {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 46px;
  color: #00deff;
  font-size: 24px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

#box span:nth-child(1) {
  display: initial;
}

.box-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border: 1px solid #e9e6e6;
  background-color: white;
}

/******************************** SWITCH ********************************/
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2.5px;
  bottom: 3px;
  margin-top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: red;
}

input:focus + .slider-switch {
  -webkit-box-shadow: 0 0 1px #ccc;
          box-shadow: 0 0 1px #ccc;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */